html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(68, 68, 68);
    color: rgb(226, 223, 223);
}

h1, h2 {
    font-family: "Pragati Narrow", serif;
}

.info-item {
    background-color: rgb(92, 91, 91);
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
}